
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    font-family: "Raleway",sans-serif;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

p.description {
    font-style: italic;
    font-size: 15px;
}

/* In your CSS */
.Collage {
    padding: 10px;
}

.Collage img {

    /* ensures padding at the bottom of the image is correct */
    vertical-align: bottom;

    float: left;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity: 0;

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
}

#gallery-modal .modal-dialog {
    min-width: 60%;
    max-width: 80%;
}

.full-size-image {
    max-width: 100%;
}

.btn-gallery-nav {
    padding-left: 17px;
    padding-right: 17px;
}

.form-horizontal .control-label {
    text-align: left;
}

p.instructions {
    padding-bottom: 0px !important;
}